nav {
    background-color:lightgrey;
    height:50px;
}

.menu-item { 
    display:inline-block; 
  
    text-align: center;
    width:100px;
    vertical-align: middle;
    background-color:#bbbbbb;
   
    height: 30px;
    padding-top: 20px;
    
    
}

/* pet sidebar */

.pet-info img {
    width:200px;
    
}



.sidebar {
    width:25%;
    height:1000px;
    background-color: lightyellow;
    float: left;
    padding:2%;
}

.pet-details ul {
    list-style-type: none;
    line-height:24px;
    padding-left:0;
}


.pet-info {
    border-bottom: 1px solid pink;
}



/*main content */


.maincontent {
    width:60%;
    padding:5%;
    float:left;
   
}

.mainfish {
    width:250px;
    float:left;
    margin-right:20px;
}


.images p {
   /* display:inline-block;*/
    margin-right:20px;
}
.images img { 
    width:250px;
}
.parent-container {
    display:flex;
}

