nav {
    background-color:lightgrey;
    height:50px;
}

.menu-item { 
    display:inline-block; 
    padding:10px; 
    text-align: center;
    width:100px;
    vertical-align: middle;
}
.sidebar {
    width:29%;
    height:500px;
    background-color: pink; 
    float: left;
}

.maincontent {
    width:70%;
    float:left;
   
}

.mainfish {
    width:250px;
}