body { 
    background-color: #f1f1f1;
    font-size: 16pt;
}

h1 {
    background-color:#000; 
    color: white; 
    text-align:center;
}

ol { 
    text-align:center;
}
img { 
    width:50%;
    
}

p {
    text-align:center; 
}
