.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: helvetica, arial, sans-serif;
  color: white;
  grid-template-areas:
  "hover"
  "disabled"
  ;
  height: 500px;
}
.hoverMe {
  grid-area: hover;
  background-color: red;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  transition: 0.3s;
  
  /* Add the css property transition here! */

}
/* active state */

.hoverMe:hover {
 
  background-color:#990000;
  transform: scale(2,4);
  transform: rotate(90deg);
  text-transform:uppercase ;
  text-decoration: underline;
  border-radius:50px;
  content: "blah";
  content: " (" attr(href) ")";
  background-image: url("");
  transition: all 2s ease-out;

}


a { font-size:40px;
  color:pink;
  text-decoration: none;
  display:inline-block;
  padding:20px;

}

a:hover { 
  color:blue;
  font-size:42px;
  background-color:beige;

}